@import "/src/styles/variables.scss";
@import "/src/styles/mixin.scss";


.product_detail_image {
    width: 35%;
    height: 500px;
    border-radius: 10px;
    background-color: silver;
    border-radius: 13px;

    .I_zoomable_image {
        width: 100%;
        cursor: crosshair;
        position: relative;
        overflow: hidden;
        background-size: 300%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        height: 100%;
        border-radius: 13px;

        &>img {
            width: 100%;
            display: block;
            background: #F1F1F1;
            transition: opacity .5s;
            height: 100%;
            object-fit: contain !important;

            &:hover {
                opacity: 0;
            }
        }
    }
}


.product_detail_image_loader{
    width: 35%;
    height: 500px;
    border-radius: 13px;
    @include baseLoaderStyle
}

@include baseLoaderAnimation