@import "/src/styles/variables.scss";
@import "/src/styles/mixin.scss";


.product_detail_info_loader {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5rem;


    &>div:nth-child(1) {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &>div:nth-child(1) {
            width: 80%;
            height: 40px;
            border-radius: 5px;
            @include baseLoaderStyle
        }

        &>div:nth-child(2) {
            width: 20%;
            height: 40px;
            border-radius: 5px;
            @include baseLoaderStyle
        }
    }

    &>div:nth-child(2){
        width: 35%;
        height: 60px;
        border-radius: 50px;
        @include baseLoaderStyle
    }
}

@include baseLoaderAnimation