$headerTopLineColor: #f1f1f1;
$mainGreenColor: #00380a;
$textGreenColor: #01894b;
$whiteText : #fff;
$searchInputFon: #efefef;
$arrowBtnColor:rgb(243, 243, 243);
$softGreenFon:#eff5f1;
$productImageFon:#f1f1f1;
$darkShadeOfRed: #df0000;
$charcoalGray:#5d5d5d;
$prodPathRouteColor: #a2a3ad;
$prodDetailName:#464646;
$prodDetailPrice:#a1a1a1;


$mainFont:sans-serif;
$titleBaseWeight:700;
$globalPadding : 0px 120px;