$headerTopLineColor: #f1f1f1;
$mainGreenColor: #00380a;
$mainFont:sans-serif;
$whiteText : #fff;
$searchInputFon: #efefef;
$arrowBtnColor:rgb(243, 243, 243);
$softGreenFon:#eff5f1;
$productImageFon:#f1f1f1;
$darkShadeOfRed: #df0000;



$titleBaseWeight:700;
$globalPadding : 0px 120px;