@import "/src/styles/mixin.scss";

.carousel_item {
  color: #171717 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 10px;
  height: 200px;
  width: 221px;
  margin-right: 10px;
  border-radius: 11px;
  @include baseLoaderStyle;
}

@include baseLoaderAnimation;
