@import "/src/styles/mixin.scss";

.parent_ctgs_loader_container {
  width: 20%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  gap: .5rem;

  & > p {
    padding: 10px 0px 10px 15px;
    width: 90%;
    height: 25px;
    @include baseLoaderStyle;
  }

  scrollbar-width: thin;
}

@include baseLoaderAnimation