.parent_ctgs_container {
  width: 20%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  font-family: sans-serif;
  font-weight: 600;

  & > p {
    padding: 10px 0px 10px 15px;
    cursor: pointer;

    &:hover {
      background: #efefef;
    }
  }

  scrollbar-width: thin;
}
