@import "/src/styles/mixin.scss";

.child_ctgs_container {
  display: grid;
  grid-template-columns: repeat((3, 1fr));
  grid-auto-rows: min-content;
  gap: 2rem;
  height: 93%;
  overflow: auto;
  padding: 15px 30px;
  width: 80%;

  .child {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    & > p {
      width: 100%;
      height: 25px;
      @include baseLoaderStyle;
    }

    .subsection_children {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      &>span{
        width: 80%;
        height: 25px;
        @include baseLoaderStyle;
      }
    }
  }
}

@include baseLoaderAnimation;
