.carousel_item {
  color: #171717 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 10px;
  background: #fff 0 0 no-repeat padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2666666667);
  height: 200px;
  width: 221px;
  margin-right: 10px;
  border-radius: 11px;
  cursor: pointer;
}
