@import "/src/styles/variables.scss";

.search_result_container {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .search_result_top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    & > h2 {
      font-weight: $titleBaseWeight;
      font-size: 25px;
    }

    & > p {
      color: $mainGreenColor;
      font-size: 18px;
      font-weight: 300;
    }
  }

  .search_result_items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 1rem;
    margin-bottom: 5vh;
  }
}
