@import "/src/styles/variables.scss";


.body_parent{
    width: 100%;
    height: auto;

    .body{
        padding: $globalPadding;
        height: 100%;
        max-width: 1920px !important;
        display: flex;
        justify-content: center;
        margin: 0 auto;

        .body_center{
            width: 1550px;
            height: 100%;
        }
    }
}