.product_detail_bundles {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
    width: 100%;
    padding: 40px 30px 25px 54px;
    background: #fff 0 0 no-repeat padding-box;
    box-shadow: 0 3px 12px rgba(30, 63, 94, .1294117647);
    border: 1px solid #dedede;
    border-radius: 18px;

    &>div:nth-child(1) {
        width: 100%;

        &>p {
            font-size: 20px;
            font-weight: bold;
        }

    }

    &>div:nth-child(2) {
        display: flex;
        width: 100%;

        & > div:nth-child(1) {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            font-size: 18px;
            color: #707070;
        }
    }

}