@import "/src/styles/mixin.scss";
@import "/src/styles/variables.scss";


.show_more_btn {
    cursor: pointer;
    color: $mainGreenColor;
    &:hover {
        @include hoverForFIlterItem;
        color: #01894b;
    }
}